config.json
a2b-eats-bl3m3-firebase-adminsdk-fbsvc-ccc047beb4.json
service-account.json
.env
.venv/
venv/
env/
PrintAgent-Package/
te-a2beats-PrintAgent/
__pycache__/
pycache/
*.pyc
*.py[cod]
*.pyo
*.pyd
dist/
build/
*.spec
*.log
.DS_Store
Thumbs.db
SumatraPDF.exe
*.json
instalador.batPrintAgent-Update-*.zip
update/
